html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 16px/1.6 'latoregular', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a *,
a:hover {
  text-decoration: none; }

svg * {
  fill: currentcolor; }

ul {
  margin: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

h1, h2, h3, h4, h5 {
  margin: 0; }

form,
fieldset {
  border: none;
  padding: 0;
  margin: 0; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

.wrapper {
  position: relative;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto; }
