.btn-primary {
  font-size: 14px;
  font-family: 'montserratbold', sans-serif;
  color: #fff;
  background: #ff551a;
  text-transform: uppercase;
  padding: 8px 16px;
  display: block;
  margin-left: 25px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }
  .btn-primary:hover {
    background: transparent;
    color: #ff551a; }

.btn-blog {
  text-transform: uppercase;
  color: #fff;
  font-family: 'montserratbold', sans-serif;
  font-size: 14px;
  background: #51c1ff;
  padding: 15px 59px;
  display: inline-block;
  letter-spacing: 0.2px;
  margin-top: 10px; }
