@font-face {
  font-family: 'latobold';
  src: url("../fonts/latobold-webfont.woff2") format("woff2"), url("../fonts/latobold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/latoregular-webfont.woff2") format("woff2"), url("../fonts/latoregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 16px/1.6 'latoregular', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a *,
a:hover {
  text-decoration: none; }

svg * {
  fill: currentcolor; }

ul {
  margin: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

h1, h2, h3, h4, h5 {
  margin: 0; }

form,
fieldset {
  border: none;
  padding: 0;
  margin: 0; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

.wrapper {
  position: relative;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto; }

.header-top {
  background: #f1f4f8; }

.holder-header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.tagline {
  font-family: 'montserratbold', sans-serif;
  color: #7e8c99;
  font-size: 12px;
  text-transform: uppercase; }
  .tagline span {
    font-family: 'montserratregular', sans-serif; }

.user-list {
  font-size: 0; }
  .user-list li {
    display: inline-block;
    border-left: 1px solid #dde2e8;
    border-right: 1px solid #dde2e8;
    margin-right: -1px; }
    .user-list li:last-child a {
      margin-right: 0;
      padding: 15px 14px; }
    .user-list li a {
      padding: 15px 22px; }
  .user-list a {
    display: block;
    font-family: 'montserratregular', sans-serif;
    font-size: 12px;
    color: #7e8c99;
    text-transform: uppercase; }

.phone-number {
  background: url("../images/phone.png") center left no-repeat;
  display: block;
  margin-left: 28px;
  border-right: 1px solid #dde2e8;
  padding: 7px 50px 7px 0; }
  .phone-number span {
    display: block;
    font-family: 'montserratregular', sans-serif;
    text-transform: uppercase;
    color: #435061;
    font-size: 11px;
    line-height: 1.2;
    margin-left: 25px; }
    .phone-number span:last-child {
      text-transform: uppercase;
      font-family: 'open_sansbold', sans-serif;
      color: #435061;
      font-size: 18px;
      line-height: 1.2; }

.header-top-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.localisation a {
  color: #435061;
  font-family: 'open_sansbold', sans-serif;
  font-size: 31px;
  display: block;
  line-height: 1.2;
  position: relative;
  padding-left: 32px;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .localisation a::before {
    position: absolute;
    content: '';
    background: url("../images/localisation-icon.png");
    top: 8px;
    left: 0;
    width: 18px;
    height: 24px; }

.localisation span {
  font-family: 'open_sanslight', sans-serif; }
  .localisation span:last-child {
    font-size: 13px;
    display: block;
    text-align: right;
    color: #7e8c99;
    letter-spacing: 1.7px; }

.holder-header-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 0 0 0; }

.header-bottom {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }

.navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 6px;
  margin: 0 -38px; }
  .navbar-nav a {
    font-family: 'montserratregular', sans-serif;
    font-size: 14px;
    color: #7e8c99;
    text-transform: uppercase;
    display: block;
    padding: 7px 39px;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s; }
    .navbar-nav a:hover {
      color: #fff;
      background: #7e8c99; }
  .navbar-nav li {
    border-right: 1px solid #e5e5e5;
    position: relative;
    margin-bottom: -1px; }
    .navbar-nav li:last-child {
      border-right: none; }
  .navbar-nav ul {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: -1px; }

.popup-menu::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-right: 1px solid #909ca7;
  border-bottom: 1px solid #909ca7;
  top: 15px;
  right: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.popup-menu:hover ul {
  display: block; }

.popup-menu:hover::before {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.dropdown {
  min-width: 100%;
  border: 1px solid #e5e5e5;
  background-color: #fff; }
  .dropdown li {
    border: none; }

.btn-primary {
  font-size: 14px;
  font-family: 'montserratbold', sans-serif;
  color: #fff;
  background: #ff551a;
  text-transform: uppercase;
  padding: 8px 16px;
  display: block;
  margin-left: 25px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }
  .btn-primary:hover {
    background: transparent;
    color: #ff551a; }

.section {
  padding: 80px 0; }

.section-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section-heading-title {
  font-size: 27px;
  font-family: 'montserratbold', sans-serif;
  text-transform: uppercase;
  color: #435061;
  padding-bottom: 15px; }

.section-heading-description {
  font-family: 'latoregular', sans-serif;
  text-align: center;
  max-width: 1067px;
  color: #7e8c99;
  line-height: 30px; }

.section-about-us {
  padding-top: 80px; }

.section-community-spotlight {
  background: #eff3f5; }
  .section-community-spotlight .section-heading-description {
    max-width: 821px; }

.tab-item {
  display: inline-block; }
  .tab-item a {
    display: block;
    font-family: 'latoregular', sans-serif;
    color: #535f6e;
    padding: 13px 33px;
    font-size: 16px;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    outline: none;
    background: #fff; }
    .tab-item a:hover {
      background: #435061;
      color: #fff;
      text-decoration: none; }
  .tab-item.active a {
    background-color: #435061;
    color: #fff; }

#tabs {
  margin: 33px 0 0 0;
  font-size: 0; }

.about-place {
  width: 50%;
  display: inline-block;
  vertical-align: top; }

.tab-slide {
  width: 48%;
  padding: 15px;
  background: #fff;
  display: inline-block;
  -webkit-box-shadow: 0 0 5px rgba(156, 170, 187, 0.35);
  box-shadow: 0 0 5px rgba(156, 170, 187, 0.35); }

.tab-holder {
  font-size: 0; }

.tab-nav {
  padding-bottom: 57px; }

.about-place {
  padding: 8px 0 0 37px; }

.uk-dotnav {
  padding: 0 0 28px 0; }

.uk-dotnav > * {
  padding-left: 8px; }

.uk-dotnav > * > * {
  width: 12px;
  height: 12px;
  background: #fff; }

.uk-dotnav-contrast > .uk-active > * {
  background: #31a2e1; }

.section-feature-listings .section-heading-description {
  max-width: 821px; }

.slick-initialized .slick-slide {
  display: block;
  font-size: 0 !important; }

.section-feature-listings .slick-slider {
  overflow: hidden; }

.section-feature-listings .section-heading {
  padding-bottom: 50px; }

.slick-prev {
  top: 0;
  left: 48%;
  z-index: 1001;
  width: 30px;
  height: 30px; }
  .slick-prev::before {
    width: 30px;
    height: 30px;
    border: 2px solid #31a2e1;
    border-radius: 50%; }

.slick-next {
  top: 0;
  right: 48%;
  z-index: 1001;
  width: 30px;
  height: 30px; }
  .slick-next::before {
    width: 30px;
    height: 30px;
    border: 2px solid #858c95;
    border-radius: 50%; }

.card-title {
  font-size: 12px;
  font-family: 'montserratregular', sans-serif;
  color: #7e8c99;
  text-transform: uppercase;
  padding-bottom: 4px; }

.card-header {
  padding-bottom: 9px; }

.card-description {
  font-family: 'montserratbold', sans-serif;
  font-size: 18px;
  color: #435061;
  text-transform: uppercase;
  line-height: 20px; }

.card-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 69px; }

.card {
  text-align: center;
  padding: 0 14px;
  width: 16.66%;
  position: relative; }
  .card:last-child {
    border-right: none;
    margin-right: -12px; }
    .card:last-child::before {
      content: none; }
  .card:first-child {
    margin-left: -10px; }
  .card::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 152px;
    background-color: #e1e6ec;
    right: 0;
    top: -12px; }

.title {
  font-family: 'montserratbold', sans-serif;
  font-size: 21px;
  color: #435061;
  text-transform: uppercase;
  padding-bottom: 12px; }

.description {
  font-family: 'latoregular', sans-serif;
  color: #7e8c99;
  font-size: 16px;
  line-height: 1.8;
  padding-bottom: 45px; }

.card-title-inner {
  font-size: 16px;
  font-family: 'montserratbold', sans-serif;
  color: #435061;
  text-transform: uppercase;
  padding-bottom: 5px; }

.card-description-inner {
  font-size: 15px;
  font-family: 'latoregular', sans-serif;
  color: #7e8c99; }

.card-body-left,
.card-body-right {
  display: inline-block; }

.card-body-right {
  max-width: 461px;
  padding-left: 20px; }

.card-body-left {
  vertical-align: top;
  width: 67px;
  height: 67px;
  background: #31a2e1;
  border-radius: 50%;
  position: relative; }
  .card-body-left img {
    position: absolute;
    top: 8px;
    left: 10px; }

.tab-description-secondary img {
  top: 12px;
  left: 13px; }

.tab-description-secondary .card-body-left {
  background: #2ea3e2; }

.tab-description-first {
  padding-bottom: 48px; }
