.btn-primary {
  font-size: 14px;
  font-family: 'montserratbold', sans-serif;
  color: #fff;
  background: #ff551a;
  text-transform: uppercase;
  padding: 8px 16px;
  display: block;
  margin-left: 25px;
  transition: opacity .2s;
  &:hover {
    background: transparent;
    color: #ff551a;
  }
}

.btn-blog {
  text-transform: uppercase;
  color: #fff;
  font-family: 'montserratbold', sans-serif;
  font-size: 14px;
  background: #51c1ff;
  padding: 15px 59px;
  display: inline-block;
  letter-spacing: 0.2px;
  margin-top: 10px;
  transition: .2s;
  &:hover {
    background: #fff;
    color: #51c1ff;
  }
}

.btn-message {
  text-transform: uppercase;
  color: #0e90d9;
  font-family: 'montserratbold', sans-serif;
  font-size: 14px;
  background: #fff;
  margin: 14px 0 22px 0;
  display: block;
  text-align: center;
  padding: 9px 20px;
  letter-spacing: -0.5px;
  &:hover {
    color: #0e90d9;
  }
}