.btn-primary {
  font-size: 14px;
  font-family: 'montserratbold', sans-serif;
  color: #fff;
  background: #ff551a;
  text-transform: uppercase;
  padding: 8px 16px;
  display: block;
  margin-left: 25px;
}