//STYLES FOR HEADER-TOP
.header-top {
  background: #f1f4f8;
}
.holder-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagline {
  font-family: 'montserratbold', sans-serif;
  color: #7e8c99;
  font-size: 12px;
  text-transform: uppercase;
  span {
    font-family: 'montserratregular', sans-serif;
  }
}

.user-list {
  font-size: 0;
  li {
    display: inline-block;
    border-left: 1px solid #dde2e8;
    border-right: 1px solid #dde2e8;
    margin-right: -1px;
    &:last-child a {
      margin-right: 0;
      padding: 15px 14px;
    }
  }
  a {
    display: block;
    font-family: 'montserratregular', sans-serif;
    font-size: 12px;
    color: #7e8c99;
    text-transform: uppercase;
    padding: 15px 22px;
    &:hover {
      color: #ff551a;
    }
  }
}

.phone-number {
  background: url("../images/phone.png") center left no-repeat;
  display: block;
  margin-left: 28px;
  border-right: 1px solid #dde2e8;
  padding: 7px 50px 7px 0;
  span {
    display: block;
    font-family: 'montserratregular', sans-serif;
    text-transform: uppercase;
    color: #435061;
    font-size: 11px;
    line-height: 1.2;
    margin-left: 25px;
    &:last-child {
      text-transform: uppercase;
      font-family: 'open_sansbold', sans-serif;
      color: #435061;
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

.header-top-right {
  display: flex;
  align-items: center;
}

//STYLES FOR HEADER-BODY

.localisation {
  a {
    color: #435061;
    font-family: 'open_sansbold', sans-serif;
    font-size: 31px;
    display: block;
    line-height: 1.2;
    position: relative;
    padding-left: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    &::before {
      position: absolute;
      content: '';
      background: url("../images/localisation-icon.png");
      top: 8px;
      left: 0;
      width: 18px;
      height: 24px;
    }
  }
  span {
    font-family: 'open_sanslight', sans-serif;
    &:last-child {
      font-size: 13px;
      display: block;
      text-align: right;
      color: #7e8c99;
      letter-spacing: 1.7px;
    }
  }
}

.holder-header-body {
  display: flex;
  justify-content: space-between;
  padding: 18px 0 0 0;
}

//STYLES FOR HEADER-BOTTOM

.header-bottom {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  margin: 0 -38px;
  a {
    font-family: 'montserratregular', sans-serif;
    font-size: 14px;
    color: #7e8c99;
    text-transform: uppercase;
    display: block;
    padding: 7px 39px;
    transition: opacity .2s;
    &:hover {
      color: #fff;
      background: #7e8c99 ;
    }
  }
  li {
    border-right: 1px solid #e5e5e5;
    position: relative;
    margin-bottom: -1px;
    &:last-child {
      border-right: none;
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: -1px;
  }
}

.popup-menu {
  &::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-right: 1px solid #909ca7;
    border-bottom: 1px solid #909ca7;
    top: 15px;
    right: 20px;
    transform: rotate(45deg);
  }
  &:hover {
    ul {
      display: block;
    }
    &::before {
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
}

.dropdown {
  min-width: 100%;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  li {
    border: none;
  }
}
.logo {
  padding-bottom: 10px;
}

.header {
  position: relative;
  z-index: 2000;
}





