.section {
  padding: 80px 0;
}

.section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-heading-title {
  font-size: 27px;
  font-family: 'montserratbold', sans-serif;
  text-transform: uppercase;
  color: #435061;
  padding-bottom: 19px;
}

.section-heading-description {
  font-family: 'latoregular', sans-serif;
  text-align: center;
  max-width: 1067px;
  color: #7e8c99;
  line-height: 30px;
}

.section-about-us {
  padding-top: 80px;
}

//START SECTION COMMUNITY SPOTLIGHT

.section-community-spotlight {
  background: #eff3f5;
  .section-heading-description {
    max-width: 821px;
  }
}

.tab-item {
  display: inline-block;
  a {
    display: block;
    font-family: 'latoregular', sans-serif;
    color: #535f6e;
    padding: 13px 33px;
    font-size: 16px;
    transition: opacity .3s;
    outline: none;
    background: #fff;
    &:hover {
      background: #435061;
      color: #fff;
      text-decoration: none;
    }
  }
  &.active a {
    background-color: #435061;
    color: #fff;
  }
}

#tabs {
  margin: 33px 0 0 0;
  font-size: 0;
}

.about-place {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.tab-slide {
  width: 48%;
  padding: 15px;
  background: #fff;
  display: inline-block;
  box-shadow: 0 0 5px rgba(156, 170, 187, 0.35);
}

.tab-holder {
  font-size: 0;
}

.tab-nav {
  padding-bottom: 57px;
}

.about-place {
  padding: 8px 0 0 37px;
}

//STYLES FOR SLIDER-DOTS

.uk-dotnav {
  padding: 0 0 28px 0;
}

.uk-dotnav > * {
  padding-left: 8px;
}

.uk-dotnav > * > * {
  width: 12px;
  height: 12px;
  background: #fff;
}

.uk-dotnav-contrast > .uk-active > * {
  background: #31a2e1;
}

//STYLES FOR SECTION-FEATURES-LISTINGS

.section-feature-listings {
  .section-heading-description {
    max-width: 821px;
  }
}

.slick-initialized .slick-slide {
  display: block;
  font-size: 0 !important;
}

.section-feature-listings .slick-slider {
  overflow: hidden;
}

.section-feature-listings .section-heading {
  padding-bottom: 53px;
}

//STYLES FOR SLICK-SLIDER

.slick-prev {
  width: 30px;
  height: 30px;
  border: 2px solid #31a2e1;
  border-radius: 50%;
  left: 44%;
  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid #31a2e1;
    border-bottom: 1px solid #31a2e1;
    top: 8px;
    left: 10px;
    transform: rotate(45deg);
  }
  &:hover {
    border: 2px solid #858c95;
    &::before {
      border-left: 1px solid #858c95;
      border-bottom: 1px solid #858c95;
    }
  }
}

.slick-next {
  width: 30px;
  height: 30px;
  border: 2px solid #31a2e1;
  border-radius: 50%;
  right: 50%;
  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 1px solid #31a2e1;
    border-bottom: 1px solid #31a2e1;
    top: 8px;
    right: 10px;
    transform: rotate(-45deg);
  }
  &:hover {
    border: 2px solid #858c95;
    &::before {
      border-right: 1px solid #858c95;
      border-bottom: 1px solid #858c95;
    }
  }
}

.holder-dots {
  position: relative;
}

.appendArrows {
  position: absolute;
  top: -28px;
  width: 100%;
}

//STYLES FOR HOVER-BOX

.slider-item {
  position: relative;
  margin-bottom: -1px;
  &:hover .hover-box {
    display: block;
    opacity: 1;
  }
}

.hover-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(49, 162, 225, .9);
  opacity: 0;
  transition: .3s all;
}

.hover-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 27px 0 20px 0;
  .address,
  .price {
    font-size: 18px;
    font-family: 'montserratbold', sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .about {
    font-size: 16px;
    font-family: 'montserratregular', sans-serif;
    color: #fff;
  }
  .price {
    margin-bottom: 10px;
  }
}

.add-place {
  display: block;
  width: 48px;
  height: 48px;
  background: #fff;
  color: #31a2e1;
  border-radius: 50%;
  font-family: 'montserratregular', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 14px;
  transition: opacity .2s;
  &:hover {
    opacity: .8;
  }
}

//STYLES FOR SECTION-ATTRACTIONS

.section-attractions {
  padding-top: 0;
  .section-heading-description {
    max-width: 821px;
  }
}

#map {
  width: 652px;
  height: 577px;
}

.left-block,
.right-block {
  display: inline-block;
}

.left-block {
  max-width: 458px;
  vertical-align: top;
}

.right-block {
  max-width: 652px;
  padding-left: 30px;
}

.holder-attractions {
  padding-top: 65px;
}

.title-place {
  font-family: 'montserratbold', sans-serif;
  text-transform: uppercase;
  color: #435061;
  font-size: 16px;
  padding-bottom: 11px;
  letter-spacing: -0.3px;
}

.description-place {
  font-family: 'latoregular', sans-serif;
  font-size: 16px;
  color: #7e8c99;
  line-height: 1.8;
}

.active-place > .title-place {
  color: #31a2e1;
  padding-bottom: 20px;
}

.attraction-place {
  padding-bottom: 40px;
  &.active-place {
    padding-bottom: 44px;
  }
}

.pagination {
  li {
    display: inline-block;
    margin-right: 2px;
  }
  a {
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #2ea3e2;
    border-radius: 50%;
    color: #2ea3e2;
    text-align: center;
    transition: opacity .3s;
    &:hover {
      opacity: .8;
    }
  }
  .active a {
    background: #2ea3e2;
    color: #fff;
  }
}

.unactive-place {
  .description-place {
    line-height: 1.7;
  }
  .title-place {
    padding-bottom: 5px;
  }
}

//STYLES FOR SECTION-BLOG

.section-blog {
  background: #d8f1ff;
}

.left-blog {
  position: relative;
  max-width: 375px;
  display: inline-block;
  &::before {
    position: absolute;
    content: '';
    right: 0;
    left: -9999px;
    height: 100%;
    background: #31a2e1;
  }
}

.right-blog {
  background: #d8f1ff;
}

.title-section-blog {
  font-size: 18px;
  font-family: 'montserratbold', sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.blog-title,
.blog-description{
  color: #fff;
}

.blog-title {
  font-family: 'latobold', sans-serif;
  padding-bottom: 2px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 3px;
    right: -40px;
    cursor: pointer;
  }
  &::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
    top: 8px;
    right: -33px;
    cursor: pointer;
  }
}
.blog-description {
  font-family: 'latoregular', sans-serif;
  line-height: 1.85;
}

.blog-item {
  max-width: 293px;
  padding-bottom: 33px;
}

.holder-left-blog {
  position: relative;
  display: inline-block;
  padding: 60px 57px 50px 0;
}

.right-blog {
  display: inline-block;
  vertical-align: top;
  padding: 60px 0 50px 38px;
  max-width: 765px;
  .title-section-blog {
    color: #435061;
  }
}

.right-blog-items {
  font-size: 0;
  padding-bottom: 40px;
}

.holder-section-blog {
  display: flex;
}